<header>
    <h1>ZoekOppas</h1>
	<a href="filter"><img src="../static/images/filtericon.png" alt=""></a>
</header>

<section class="home">
		{{#each users}}
			<section>
				<div></div>
				<div>
					<h3>{{this.voornaam}} {{this.achternaam}}</h3>
					<p>{{this.geboortedatum}}</p>
					<p>{{this.geslacht}}</p>
					<ul>
						{{#each beschikbaar}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
					<p>€ {{this.uurtarief}}</p>
				</div>
				<button>Contact</button>
			</section>
		{{/each}}
</section>

<footer>
    <ul>
        <li class="inactive"><a href="/"><img src="../static/images/addicon.png" alt=""></a></li>
        <li><a href="home"><img src="../static/images/homeicon.png" alt=""></a></li>
        <li class="inactive"><a href=""><img src="../static/images/settingsicon.png" alt=""></a></li>
    </ul>
</footer>